/* Write your CSS code here */
.head {
  display: flex;
  justify-content: flex-end;
}
.head1 {
  font-size: 15px;
  padding-right: 5px;
  list-style: none;
}
.cen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.image1 {
  height: 20px;

  padding-right: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.down {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
